@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">



</head>
<body onload="onl()">
    <section class="mbr-slider mbr-section mbr-section__container carousel slide mbr-section-nopadding" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="false" id="slider-j">
        <div>
            <div>
                <div>
                    <div class="mbr-overlay" style="background-color: rgb(61, 142, 185);"></div>

                    <div class="carousel-inner" role="listbox">
                        <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false"
                             style="background-image: url('../Assets/images/arkaplan.jpg');">
                            <div class="mbr-table-cell">

                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-center">
                                            <h2 class="mbr-section-title display-1">Kişilik Testinde<br><img src="~/assets/images/1.png" style="width:100px;height:115px" /> Numara&nbsp;</h2>
                                            <p class="mbr-section-lead lead">Kendinizi Öğrenmek istiyorsanız <br>Tavsiyeler&nbsp;İstiyorsanız&nbsp;<br>En Doğru Yerdesiniz</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url('../assets/images/sparklers.jpg');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 text-xs-right">

                                            <p class="mbr-section-lead lead">Farklı karakterlerin özelliklerini tespit etmede bir ölçü olarak bu bölümde bir test uygulaması yer almaktadır. <br><br>Testin her biri, dört şıktan oluşan 15 soru içermektedir.Seçeneklerde belirtilen özellikler size ne derecede uygunsa ona göre puan veriniz<br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url('../assets/images/sparklers.jpg');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <h2 class="mbr-section-title display-1">Puanlandırma</h2>
                                            <p class="mbr-section-lead lead"><br>Her sorunun altında 4 şık yer almaktadır. <br>Soruları cevaplarken size en uygun seçeneğe<br>XX işareti, o seçenekten sonra size en uygun gelen ikinci seçeneğe ise X işareti koyunuz.<br><br>Seçeneklerden sadece iki şıkka işaret koyun. Eğer sadece tek şıkka işaret koyacaksanız, o şıkka XX işareti koyunuz.<br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url('../assets/images/sparklers.jpg');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 text-xs-right">
                                            <h2 class="mbr-section-title display-1">Test Sonunda</h2>
                                            <p class="mbr-section-lead lead">XX işaretlileri 2, X işaretlileri 1 puan olarak değerlendiriniz.A,B,C ve D seçeneklerine verilen puanları toplayınız. Hangi seçenekteki puanlarınız ağırlıktaysa, baskın karakter özelliklerinizin o guruba girdiği anlaşılacaktır. Puanların yüksek olduğu ikinci grup karakter özellikleri de sizde bulunacağından, ikinci grup karakter özelliklerini de göz önünde bulundurmanız faydalı olacaktır.<br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url('../assets/images/sparklers.jpg');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 text-xs-left">
                                            <h2 class="mbr-section-title display-1">Önemli</h2>
                                            <p class="mbr-section-lead lead " style="text-align:left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>Test sizin ağırlıklı olarak hangi gruba ait olduğunuzu ortaya çıkaracaktır.Testi işaretlerken şu anda sahip olduğunuz düşünceye göre işaretlemeye özen gösteriniz.<br><br></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full" data-bg-video-slide="false" style="background-image: url('../assets/images/sparklers.jpg');">
                            <div class="mbr-table-cell">
                                <div class="mbr-overlay"></div>
                                <div class="container-slide container">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-3 text-xs-right">
                                            <h2 class="mbr-section-title display-1"><a href="~/Home/Intro" style="text-decoration: none">Haydi Başlayalım &nbsp;</a></h2>
                                            <p class="mbr-section-lead lead"></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a data-app-prevent-settings="" id="pre" onclick="b()" class="left carousel-control" role="button" data-slide="prev" href="#slider-j">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a data-app-prevent-settings="" onclick="a()" id="next" class="right carousel-control" role="button" data-slide="next" href="#slider-j">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script>
    var i=0;
    function a()
    {
       i++;
        if(i==5)
        {
            document.getElementById("next").hidden=true;
        }
        if(i>0)
        {
            document.getElementById("pre").hidden=false;
        }
    }
    function b()
    {
        i--;
        if(i==0)
        {
            document.getElementById("pre").hidden=true;
        }
        if(i<4)
        {
            document.getElementById("next").hidden=false;
        }
    }
    function onl()
    {
        if(i==0)
        {
            document.getElementById("pre").hidden=true;
        }
    }
    </script>
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets/theme/js/script.js"></script>


</body>
</html>