@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="Web Site Maker Description">
    <title>Kırmızı </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css"> 



</head>
<body>
    <section class="mbr-section mbr-section-hero mbr-section-full" id="header1-l" style="background-image: url(~/assets/images/jumbotron.jpg);">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(245, 28, 25);"></div>
        <div class="mbr-table-cell">
            <div class="container">
                <div class="row">
                    <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                        <h1 class="mbr-section-title display-1">Kırmızı</h1>
                        <p class="mbr-section-lead lead"><span style="font-size: 1.5rem; line-height: 1.5;">Güçlü kararlı tiplerdir.&nbsp;</span><br>Az laf, çok iş derler. Sonuç odaklıdırlar.<br>Herkesin onlar gibi düşünüp hareket etmesini isterler. <br>Gereksiz konuşmalardan ve işlerden hoşlanmazlar. <br>Hep yapacak işleri ve alınmış kararları vardır. <br>Önemli olan onlara göre işin özünü anlamak ve<br>sonucu elde etmektir. Bu yüzden kararlarını uygularken gözleri başka bir şey görmez.<br>Yüksek; ancak gerçekçi hedefler belirlemekten ve bunları gerçekleştirmeye çalışmaktan<br>büyük zevk alırlar. Son derece bağımsız insanlardır. <br>Zaman yönetimi konusunda üstün bir becerileri vardır. <br>Konuşması hızlı ve tempoludur. Çalışma ortamları, ne çok dağınık ne de çok düzenlidir.<br>Hep dik durmaya çalışırlar, kimseden yardım istemeyi sevmezler. <br>Kendilerini daima haklı görme eğilimleri vardır. <br>Eleştiriden pek hoşlanmazlar. Kararlı ve iş bitiricidirler. <br>Ani kararlarıyla insanları şaşırtabilirler. <br>İşlerine aşırı odaklanırlar; fakat sonuçlar konusunda yeterli değerlendirmeyi yapamayabilirler. <br>Lider özelliklidirler. Özgüvenleri yüksektir.<br></p>
                        <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="~/Home/TavsiyeKirmizi">Tavsiyeler İçin Tıklayınız</a> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
     
    <script src="~/assets/web/assets/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/theme/js/script.js"></script>


</body>
</html>