@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link href="~/assets/animate.css" rel="stylesheet" type="text/css" />



</head>
<body style="background:url('~/assets/images/yükleniyor.jpg');  no-repeat center  fixed ;-webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

    <p style="font-size:75px;height:100px; text-shadow: 1px 1px 1px #000,
                 3px 3px 5px red;text-align: center;padding:300px " class="animated infinite shake">Sonuçlarınız yükleniyor...</p>

    <script>

   var shant="sonuc.html"; // yönlenecek sayfa ya da site
function forPage()
{
location.href=shant
} 
    </script>
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/assets/theme/js/script.js"></script>


</body>
</html>
