
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 8
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Hangisi sizi daha çok strese sokar?
            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Olaylar üzerindeki güç ve kontrolümün azaldığını hissetmek
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Sıkıcı, rutin işler yapılan bir ortamda bulunmak
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Beni aşacağını düşündüğüm sorumluluklar Üstlenmek
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Düzensiz ortamlar ve eksik yapılan işler
            </p>
        </div>

    </div>
</div>