
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 12
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Kendinizde gördüğünüz en güçlü yönünüz hangisidir?

            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Kısa sürede karar alan ve harekete geçen yapım
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Girdiğim ortamlara neşe ve heyecan katan tarafım
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Her türlü ortama uyum sağlama ve çatışmaları önleme gayretim
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Her şeyi planlı, programlı ve düzenli yapma huyum
            </p>
        </div>

    </div>
</div>