
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 11
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Kendinizde gördüğünüz en zayıf yönünüz hangisidir?
            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) İnsanlar işleri istediğim gibi yapmadığında ve seri olmadıklarında sinirlenmek
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Düzensiz, dağınık ve programsız olmak.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Kimseye hayır diyememek ve başkalarının işine koşarken kendi işimi aksatmak
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Her şeyin kusursuz ve mükemmel olmasını istemek, İnsanlar buna uymadığında sinirlenmek
            </p>
        </div>

    </div>
</div>