
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 13
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Aşağıdaki ifadelerden hangisi sizi daha iyi tanımlar?

            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Güçlü, kararlı, otoriter ve yönlendirici
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Popüler, neşeli, sevimli ve muzip.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Barışçıl, sevecen, uyumlu ve sakin.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Tertipli, düzenli, disiplinli ve planlı.
            </p>
        </div>

    </div>
</div>