
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 15
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Ertesi gün çözülmesi gereken bir problem varsa o akşamki ruh haliniz nasıl olur?
            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Çok büyük tedirginlik duymam; çünkü ertesi gün o işi olması gerektiği gibi yapacağımdan eminimdir.
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Çok tedirginlik duymam; çünkü nasıl olsa işler bir şekilde hallolacaktır.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Sorumluluğun üstümde olmasından dolayı tedirginlik duyarım.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Tedirginlik duyarım ve gecenin büyük bir bölümünde problemin nasıl çözüleceğiyle ilgili planlar yaparım.
            </p>
        </div>

    </div>
</div>