 
<body onload="kontrol()">
    <div class="container" style="-moz-user-select:none;">
        <div style="margin-left: 50px">
            <div class="row">
                <div class="col-xs-12" style=" ">
                    <h1>
                        Soru 1
                    </h1>
                </div>
            </div>

            <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
                <p style="font-size:30px">
                    Aşağıdaki beyitlerden hangisi sizi daha iyi
                    anlatır?
                </p>

            </div>

            <div style="color:grey">
                <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                    A) Güçlü, kararlı, girişken ve doğuştan liderim Düşer kalkar, yoluma devam ederim
                </p>
                <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                    B) Hayata anlamlı renkler katar eğlenceyi severim Ömür boyu herkesin mutlu ve neşeli olmasını dilerim.
                </p>
                <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                    C) Her anımı huzurlu ve sakin geçirmek isterim Kavga gürültü sevmem, işlerimde en kolay yolu seçerim.
                </p>
                <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                    D) Her şeyin mükemmel, düzgün, kusursuz olmasını isterim İlişkilerimde saygılı ve mesafeli olmayı severim.
                </p>
            </div>

        </div>
    </div>
</body>
