
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 5
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Çalışma temponuzu nasıl değerlendiriyorsunuz?
            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Hızlı bir tempoda çalışır, çabuk karar almayı severim.
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) İşlerin, rutin ve sıkıcı olmadığı ortamlarda yüksek motivasyonla çalışırım.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Nadiren aceleciyimdir. Geçde olsa üstlendiğim işi bitiririm.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Ayrıntılı düşünerek karar veririm. İş bitirici bir tempoyla çalışırım.
            </p>
        </div>

    </div>
</div>