
<div class="container" style="-moz-user-select:none;">
    <div style="margin-left: 50px">
        <div class="row">
            <div class="col-xs-12" style=" ">
                <h1>
                    Soru 4
                </h1>
            </div>
        </div>

        <div style="-moz-user-select:none;text-align:left;width:auto;font-weight:bold;color:darkorange">
            <p style="font-size:30px">
                Çalışma tarzınız hangisine uygundur? 
            </p>

        </div>

        <div style="color:black">
            <p ondblclick="myFunction(this.id)" style="width:auto;" onclick="myf(this.id)" id="seceneka">
                A) Yoğun ve hızlıyımdır. Aynı anda birkaç iş bir arada yapabilirim.
            </p>
            <p style="width:auto" ondblclick="myFunction(this.id)" onclick="myf(this.id)" id="secenekb">
                B) Özgür bir ortamda çalışırım. İnsan ilişkileri odaklıyımdır.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekc">
                C) Ön planda olmayan; ama gruba her türlü desteği veren bir yapım vardır.
            </p>
            <p ondblclick="myFunction(this.id)" style="width:auto" onclick="myf(this.id)" id="secenekd">
                D) Ayrıntıları önemserim ve tek bir konuya daklanarak çalışırım.
            </p>
        </div>

    </div>
</div>