
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo.png" type="image/x-icon">
    <meta name="description" content="Web Site Maker Description">
    <title>Yeşil</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/assets/bootstrap-material-design-font/css/material.css">
    <link rel="stylesheet" href="~/assets/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/assets/theme/css/style.css"> 



</head>
<body>
    <section class="mbr-section mbr-section-hero mbr-section-full" id="header1-l" style="background-image: url(~/assets/assets/images/jumbotron.jpg);">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(24, 202, 62);"></div>
        <div class="mbr-table-cell">
            <div class="container">
                <div class="row">
                    <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                        <h1 class="mbr-section-title display-1">Yeşil</h1>
                        <p class="mbr-section-lead lead">                            Orta yollu tiplerdir.
                            Dikkat çekici hatalarda bulunmazlar.
                            En belirgin yönleri her yerde mutlu olabilmeleri ve hallerinden memnuniyet duymalarıdır.
                            Sabırlıdırlar.
                            Ayırt edilmesi en güç olan ve zor anlaşılan kişilerdir.
                            İçten içe çok inatçıdırlar. Projeleri yarım bırakabilirler.
                            Pek fazla kimseye hayır diyemezler. Barışçıl ve fedakardırlar.
                            En çok önemsedikleri şey çevreden saygı görmektir.
                            Daha duygulu ve heyecanlıdırlar.
                            Gruplarla uyumludurlar.
                            Kendilerini ön plana çıkarmaya çalışmazlar. Başka insanların katkılarındaki değeri görme konusunda oldukça yeteneklidirler.
                            Uyumlu ilişkilere çok değer verirler.
                            Başka insanların hislerine karşı duyarlıdırlar.
                            Çok hareketli ortamları sevmezler. İnce ve düşündürücü espiri  anlayışına sahiptirler. Kendileriyle barışıktırlar.
                            Çok rahattırlar. Çatışmadan çok çekinirler.
                            Doğal arabulucudurlar.
                            Çok sabırlıdırlar. İçlerinde fırtınalar koparken dışarıdan sakin görünebilirler. Kimseyi kırmak istemezler.
&nbsp;<br></p>
                        <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="~/Home/TavsiyeYesil">Tavsiyeler İçin Tıklayınız</a> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
     
    <script src="~/assets/assets/web/assets/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/assets/tether/tether.min.js"></script>
    <script src="~/assets/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/assets/theme/js/script.js"></script>


</body>
</html>